.card {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 400px; /* Définir la largeur fixe des cartes */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur totale */
  background-color:#f0f0f0;
  margin: 25px;
  position: relative;
  top: 550px;
  left : 50px;
}
.card:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  margin-bottom: 10px;
}

.btn-primary {
  display: block;
  margin-top: 10px;
}

/* .card-Container {
 
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 250px 250px 250px;

  justify-content: start;

  position: relative;
  top: 550px;
  left : 50px;

} */

.flex{display: flex;flex-wrap: wrap;}


  