/* Ajoutez ces styles dans votre fichier CSS ou directement dans votre composant React si vous utilisez des styles en ligne */

.card {
    display: inline-block; /* Affiche les cartes en ligne */
    margin-right: 20px; /* Espace entre les cartes, ajustez la valeur selon vos préférences */
    border: 1px solid #ccc; /* Ajoute une bordure pour séparer visuellement les cartes */
    border-radius: 8px; /* Ajoute des coins arrondis à la carte */
    overflow: hidden; /* Assurez-vous que le contenu ne dépasse pas la carte */
  }
  
  .card-body {
    padding: 15px; /* Ajoute un espacement interne au contenu de la carte */
  }
  
  .card-title {
    font-size: 1.25rem; /* Ajustez la taille de la police du titre selon vos préférences */
  }
  
  .card-text {
    margin-bottom: 10px; /* Espacement entre les éléments de texte dans la carte */
  }
  
  .btn-primary {
    display: block; /* Fait du lien un élément de bloc pour occuper toute la largeur de la carte */
    margin-top: 10px; /* Espacement entre le texte et le bouton */
  }
  